#지난시간 복습문제

##1번
 list=[1,2,3,4]\
 tuple=("사과", "바나나", "수박", "복숭아")

###(1-1)
list=[1,2,3,4]에 3을 제거하고, 5를 추가하세요. 그리고 출력해 결과를 확인해보세요.

In [ ]:
list=[1,2,3,4]

###(1-2)
tuple=("사과", "바나나", "수박", "복숭아")에 딸기를 추가하세요. 그리고 출력해 결과를 확인해보세요.

In [ ]:
tuple=("사과", "바나나", "수박", "복숭아")

###(1-3)
list와 tuple을 set으로 변환시키고, 출력해 결과를 확인해보세요.

##2번

dictionary= {'사과': 'apple', '바나나': 'banana', '오렌지': 'orange'}\
dictionary에 '체리': 'cherry'를 추가하고, 출력해 결과를 확인해보세요.

In [ ]:
dictionary= {'사과': 'apple', '바나나': 'banana', '오렌지': 'orange'}

# 조건문


*   특정 조건일 때 코드를 실행하는 문법


```
if 비가 온다면:
    우산을 가지고 나간다.
```

```
if 날씨가 춥다면:
    코트를 입고 나간다.
```

##if 조건문

###if 조건문 기본
if의 조건이 참(true)일때, if의 코드를 실행한다. \
참이 아니면 if의 코드를 실행하지 않는다.

```
if 조건식:
   조건식이 만족할 때 실행할 코드
```

In [ ]:
x=10
if x==10:
  print('x는 10 입니다.')

In [ ]:
weather = "맑음"
if weather == "맑음":
    print("조깅을 하러 감")

In [ ]:
weather = "비가 옴"
if weather == "맑음":
    print("조깅을 하러 감")

In [ ]:
weather = "비가 옴"
if weather == "비가 옴":
    print("우산을 챙김")

논리 연산자 여러 개 사용 가능

In [ ]:
score=95
if score >= 90:
    print("A등급")

In [ ]:
score=87
if 80 <=score<90 :
    print("B등급")

In [ ]:
score=90
if 80 <=score<90 :
    print("B등급")

and 논리 연산자를 이용해서도 가능

In [ ]:
score=85
if 80 <=score and score<90 :
    print("B등급")

###else 추가

if의 조건이 참(true)일때,  if의 코드를 실행한다. \
참이 아니면 else의 코드를 실행한다.
```
if 조건식:
   조건식이 만족할 때 실행할 코드
   
else:
   조건식이 만족하지 않을 때 실행할 코드
```

In [ ]:
x=9
if x==10:
  print('x는 10 입니다.')
else:
  print('x는 10이 아닙니다.')

In [ ]:
num = float(input("숫자를 입력하세요: "))

if num > 0:
    print("입력한 숫자는 양수입니다.")
else:
    print("입력한 숫자는 양수가 아닙니다.")

In [ ]:
num = int(input("숫자를 입력하세요: "))

if num % 2 == 0:
    print("입력한 숫자는 짝수입니다.")
else:
    print("입력한 숫자는 홀수입니다.")

In [ ]:
num = int(input("숫자를 입력하세요: "))

if num % 5 == 0:
    print("입력한 숫자는 5의 배수입니다.")
else:
    print("입력한 숫자는 5의 배수가 아닙니다.")

####조건식이 아닌 값으로 코드 동작

파이썬 문법 중에 False로 취급하는 것들


1.   None
2.   False
3.   0인 숫자들
4. 비어있는 문자열, 리스트, 튜플, 딕셔너리, 세트 : ''," ", [ ], ( ), { }, set()

그 외의 모든 요소는 True로 취급!

In [ ]:
if 0:
  print('참')
else:
  print('거짓')

In [ ]:
if 3:
  print('참')
else:
  print('거짓')

In [ ]:
if 13.5:
  print('참')
else:
  print('거짓')

In [ ]:
if 'hello':
  print('참')
else:
  print('거짓')

In [ ]:
if "":
  print('참')
else:
  print('거짓')

In [ ]:
if None:
  print('참')
else:
  print('거짓')

In [ ]:
if False:
  print('참')
else:
  print('거짓')

In [ ]:
if [ ]:
  print('참')
else:
  print('거짓')

In [ ]:
if ():
  print('참')
else:
  print('거짓')

In [ ]:
if {}:
  print('참')
else:
  print('거짓')

In [ ]:
if set():
  print('참')
else:
  print('거짓')

###elif 추가

if 조건이 참(true)일때, if의 코드를 실행한다. \
if 조건이 참이 아니고, elif 조건이 참일때, elif의 코드를 실행한다. \
위의 조건들이 모두 참이 아니면, else의 코드를 실행한다.

```
if 조건식1:
   조건식1이 만족할 때 실행할 코드

elif 조건식2:
   조건식2가 만족할 때 실행할 코드

else:
   위의 조건식을 모두 만족하지 않을 때 실행할 코드


```

In [ ]:
x=20
if x==10:
  print('x는 10 입니다.')
elif x==20:
  print('x는 20 입니다.')
else:
  print('x는 10도 20도 아닙니다.')

else가 elif 앞에 오면 잘못된 문법!!

In [ ]:
x=20
if x==10:
  print('x는 10 입니다.')

else:
  print('x는 10도 20도 아닙니다.')
elif x==20:
  print('x는 20 입니다.')

elif와 else는 단독으로 사용 불가!!

In [ ]:
else:
  print('x는 10도 20도 아닙니다.')
elif x==20:
  print('x는 20 입니다.')

if와 else는 한 번만 사용가능하지만, elif는 여러 번 사용가능!

In [ ]:
button=int(input())
if button==1:
  print("콜라")
elif button==2:
  print("사이다")
elif button==3:
  print("환타")
else:
  print("제공하지 않는 메뉴")

In [ ]:
score1 = float(input("첫 번째 과목의 점수를 입력하세요: "))
score2 = float(input("두 번째 과목의 점수를 입력하세요: "))


average = (score1 + score2 ) / 2

if average >= 90:
    print("학점: A")
elif 80 <= average < 90:
    print("학점: B")
elif 70 <= average < 80:
    print("학점: C")
elif 60 <= average < 70:
    print("학점: D")
else:
    print("학점: F")

###중첩 if 조건문

In [ ]:
num = float(input("숫자를 입력하세요: "))

if num >= 0:
    if num == 0:
        print("입력한 숫자는 0입니다.")
    else:
        print("입력한 숫자는 양수입니다.")
else:
    print("입력한 숫자는 음수입니다.")

In [ ]:
num1 = float(input("첫 번째 숫자를 입력하세요: "))
num2 = float(input("두 번째 숫자를 입력하세요: "))
num3 = float(input("세 번째 숫자를 입력하세요: "))

if num1 >= num2:
    if num1 >= num3:
        print("가장 큰 숫자는:", num1)
    else:
        print("가장 큰 숫자는:", num3)
else:
    if num2 >= num3:
        print("가장 큰 숫자는:", num2)
    else:
        print("가장 큰 숫자는:", num3)

###들여쓰기 주의


*   들여쓰기를 잘못하면 의도치 않은 결과가 나올 수 있다.
*   에러가 발생할 수 있다.

In [ ]:
x=20
if x==10:
  print('x는 10 입니다.')
  else:
  print('x는 10이 아닙니다.')

In [ ]:
x=10
if x==10:
  print('x는 10 입니다.')
else:
  print('x는 10이 아닙니다.')
  print('x의 값을 다시 찾아보세요.')

In [ ]:
x=10
if x==10:
  print('x는 10 입니다.')
else:
  print('x는 10이 아닙니다.')
print('x의 값을 다시 찾아보세요.')


# 연습문제

##1번 문제
score가 80점 이상이면 "합격입니다."라고 출력하는 코드를 작성하세요.

In [ ]:
score=

##2번 문제

x의 값을 입력받고,\
x가 3의 배수이면 "3의 배수입니다."라고 출력하고,\
x가 5의 배수이면 "5의 배수입니다."라고 출력하고,\
3의 배수도, 5의 배수도 아니라면  "3의 배수도, 5의 배수도 아닙니다."라고 출력하는 코드를 작성하세요.

In [ ]:
x=

##3번 문제
한 동물원의 연령대에 따른 입장권 가격은 다음과 같습니다.

7세 이하: 무료\
8세부터 18까지 : 20000원\
19세 이상: 30000원

연령에 따라 입장권 가격을 출력하는 코드를 작성하시오.

[출력예시] \
age : 10\
입장권 가격 : 20000원

In [ ]:
age =