## 딕셔너리형(Dictionary)

In [1]:
my_dict = {'name':'홍길동', 'age':'5', 'school':'서당대학교'}

In [ ]:
my_dict['name']

In [ ]:
my_dict['ID'] = '160026873'
my_dict

In [ ]:
del my_dict['age']
my_dict

In [ ]:
# 이러면 안돼요!!!!!!!!!!!!!!!!!!!!
a = {1:'a',1:'b'}
print(a)

In [ ]:
# 이러면 안돼요2!!!!!!!!!!!!!!!!!!!!
a = {[1,2]:'a'}

In [ ]:
# 이거는 가능
a = {(1,2):'a'}

In [ ]:
# key 리스트
my_dict.keys()

In [ ]:
# value 리스트
my_dict.???()

In [ ]:
print(list(my_dict.keys()))
tuple((my_dict.keys()))

In [ ]:
my_dict.items()

In [ ]:
print(my_dict.get('name'))
print(my_dict.get('ID'))

In [ ]:
print('name' in my_dict)

In [ ]:
my_dict.clear()

## 집합형(Set)

In [ ]:
s1 = set([1,2,3])

In [ ]:
print(s1)

{1, 2, 3}

In [ ]:
l1 = list(s1)
t1 = tuple(s1)
print(s1, l1, t1)

{1, 2, 3} [1, 2, 3] (1, 2, 3)

In [ ]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [ ]:
print(s1&s2)

{4, 5, 6}

In [ ]:
print(s1|s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
print(s1-s2)

{1, 2, 3}

In [ ]:
s1.add(7)
print(s1)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
s1.update([8,9])
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s1.remove(2)
print(s1)

{1, 3, 4, 5, 6, 7, 8, 9}

#연습문제

***1번 문제***

[1,2,3,4,5,1,2]를 요소로 갖는 list를 만들고,

중복되는 요소들을 set 자료형을 이용해 삭제한 뒤
해당 set의 요소들을 출력해주세요~!

출력 예시: {1,2,3,4,5}

In [ ]:
list = []

***2번 문제***

딕셔너리 a에서 'B'에 해당되는 값을 추출하고 삭제해 보자.

출력예시:

{'A':90, 'C':70}

80

In [ ]:
a = {'A':90, 'B':80, 'C':70}
result =
print() #B를 추출한 후 딕셔너리 출력
print() #B에 해당되는 값

***3번 문제***

아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.  

<표>  
이름 가격 재고  
메로나 300 20  
비비빅 400 3  
죠스바 250 100

In [ ]:
inventory = { }